@charset "UTF-8";

.TopVisual {
    position: relative;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.TopVisual .list_visual li{
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.TopVisual .list_visual li:nth-child(1){
    background-image: url('../images/main/visual_main_01.jpg');
}
.TopVisual .list_visual li:nth-child(2){
    background-image: url('../images/main/visual_main_02.jpg');
}
.TopVisual .list_visual li:nth-child(3){
    background-image: url('../images/main/visual_main_03.jpg');
}
.TopVisual .list_visual li:nth-child(4){
    background-image: url('../images/main/visual_main_05.jpg');
}
/* .TopVisual .list_visual img{
    height: 100vh;
} */
/* .TopVisual .inner {
    position: absolute;
    max-width: unset;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url('../images/main/visual_main_01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: intro 10s ease-out;

}

@keyframes intro {
    0% {
        width: 130%;
        height: 130%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
} 

.TopVisual h1 {
    position: absolute;
    left: 100px;
    top: 24.65%;
    font-weight: bold;
    font-size: 45px;
    line-height: 65px;
    text-align: left;
    color: var(--white);
}

@media (max-width: 768px) {
    .TopVisual {
        background-image: url('../images/main/visual_main_02.jpg');
    }

    .TopVisual h1 {
        position: absolute;
        left: 20px;
        font-size: 30px;
        line-height: 50px;
    }
}
*/
.CommentArea {
    padding: 150px 40px;
    word-break: keep-all;
}

.CommentArea strong,
.CommentArea p {
    display: block;
    font-size: 42px;
    line-height: 60px;
    text-align: center;
    color: #00397C;
    letter-spacing: -0.02em;
}

.CommentArea p span {
    color: var(--main-color2);
}

.CommentArea p {
    font-weight: 200;
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1.5s cubic-bezier(0, 0.21, 0.03, 1.01);
    transition-delay: 0.1s;
}

.CommentArea p.active {
    opacity: 1;
    transform: translateY(0px);
}

.CommentArea strong {
    display: inline-block;
    margin-left: 7px;
    font-weight: 700;
}

.CommentArea p:nth-of-type(1) {
    margin-bottom: 5px;
}

.CommentArea p img {
    width: 200px;
    height: auto;
    margin-bottom: -2px;
    vertical-align: baseline;
}

@media (max-width: 768px) {
    .CommentArea {
        padding: 60px 20px;
    }

    .CommentArea .spark {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }

    .CommentArea strong,
    .CommentArea p {
        font-size: 21px;
        line-height: 1.5em;
    }

    .CommentArea strong {
        margin-left: 2px;
    }

    .CommentArea p {
        margin: 0;
    }

    .CommentArea p:nth-of-type(1) {
        margin-bottom: 0;
    }

    .CommentArea p span {
        display: block;
    }

    .CommentArea p img {
        width: 104px;
    }
}

.ServiceArea {
    padding: 150px 0;
    background: var(--bg-color1);
}

.ServiceArea .inner {
    padding: 0 30px;
}

.ServiceArea .inner .item {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1.5s cubic-bezier(0, 0.21, 0.03, 1.01);
    transition-delay: 0.1s;
}

.ServiceArea .inner .item:not(:first-of-type) {
    margin-top: 100px;
}

.ServiceArea .inner .item.active {
    opacity: 1;
    transform: translateY(0px);
}

.ServiceArea .inner .item .txtBox {
    flex: calc(50% + 15px);
    padding: 60px 40px 60px 70px;
    word-break: keep-all;
}

.ServiceArea .inner .item .txtBox .name {
    font-weight: bold;
    font-size: 18px;
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
}

.ServiceArea .inner .item:nth-of-type(2n) .txtBox .name {
    color: var(--sub-color1);
}

.ServiceArea .inner .item .txtBox .name span {
    color: inherit;
}

.ServiceArea .inner .item .txtBox .mainTxt {
    margin-top: 30px;
    font-weight: 200;
    font-size: 42px;
    line-height: 62px;
}

.ServiceArea .inner .item .txtBox .mainTxt strong {
    display: block;
}

.ServiceArea .inner .item .txtBox .linkBtn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 30px 0;
    font-size: 0;
    line-height: 0;
    background: url('../images/main/icon_link_arrow.svg');
    background-size: 40px 40px;
    color: transparent;
}

.ServiceArea .inner .item .txtBox .subTxt {
    font-size: 24px;
    line-height: 36px;
    font-weight: 200;
    color: var(--sub-txt-color1);
}

.ServiceArea .inner .item .imgBox {
    overflow: hidden;
    position: relative;
    flex: calc(50% - 15px);
}

.ServiceArea .inner .item .imgBox .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ServiceArea .inner .item .imgBox .inner:hover {
    transform: scale(1.1);
}

.ServiceArea .inner .item .imgBox .inner.img01 {
    background-image: url('../images/main/img_intro01_pc.jpg');
}

.ServiceArea .inner .item .imgBox .inner.img02 {
    background-image: url('../images/main/img_intro02_pc.jpg');
}

.ServiceArea .inner .item .imgBox .inner.img03 {
    background-image: url('../images/main/img_intro03_pc.jpg');
}

@media (max-width: 768px) {
    .ServiceArea {
        padding: 60px 0;
    }

    .ServiceArea .inner {
        padding: 0 20px;
    }

    .ServiceArea .inner .item {
        display: block;
    }

    .ServiceArea .inner .item:not(:first-of-type) {
        margin-top: 50px;
    }

    .ServiceArea .inner .item .txtBox {
        padding: 30px 20px;
    }

    .ServiceArea .inner .item .txtBox .name {
        font-size: 16px;
    }

    .ServiceArea .inner .item .txtBox .mainTxt {
        margin-top: 16px;
        font-weight: 200;
        font-size: 21px;
        line-height: 1.5em;
    }

    .ServiceArea .inner .item .txtBox .linkBtn {
        display: block;
        width: 30px;
        height: 30px;
        margin: 15px 0;
        background-size: 30px 30px;
    }

    .ServiceArea .inner .item .txtBox .subTxt {
        font-size: 12px;
        line-height: 22px;
    }

    .ServiceArea .inner .item .imgBox {
        height: 52.5%;
        min-height: 280px;
        border-radius: 0;
    }

    .ServiceArea .inner .item .imgBox .inner.img01 {
        background-image: url('../images/main/img_intro01_m.jpg');
    }

    .ServiceArea .inner .item .imgBox .inner.img02 {
        background-image: url('../images/main/img_intro02_m.jpg');
    }

    .ServiceArea .inner .item .imgBox .inner.img03 {
        background-image: url('../images/main/img_intro03_m.jpg');
    }
}

.partner {
    padding: 150px 0 108px;
}

.partner .txt_title {
    margin-bottom: 54px;
    color: #353A45;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
}

@media (max-width: 768px) {
    .partner {
        padding: 60px 0 90px;
    }

    .partner .txt_title {
        margin-bottom: 60px;
        font-size: 21px;
        line-height: 1.5em;
    }
}



.marquee-wrapper {
    display: inline-block;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    transform: translate3d(0%, 0, 0);
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 40s;
}

.marquee-content li {
    display: inline-block;
    white-space: nowrap;
    padding-right: 80px;
}

.marquee-content li img {
    width: auto;
    max-width: none;
    height: 60px;
}

.marquee-wrapper:hover .marquee {
    animation-play-state: paused !important;
}

@keyframes marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
@media (max-width: 768px) {
    .marquee-content li {
        padding-right: 30px;
    }
    
    .marquee-content li img {
        height: 36px;
    }

}