@charset "UTF-8";

.main_area{
    margin-top: 70px;
}
.TopVisual {
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: #353A45;
}

.TopVisual .inner {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    padding: 0 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -53%);
    text-align: center;
    z-index: 10;
    word-break: keep-all;
}
.TopVisual h1 {
    font-weight: 500;
    font-size: 42px;
    line-height: 52px;
    color: var(--white);
}

.indicator_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 212px;
    margin: 80px auto 0;

}
.btn_arrow_prev,
.btn_arrow_next,
.btn_pause{
    display: inline-block;
    width: 10px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}
.btn_arrow_prev{
    background-image: url('../images/main/btn_arrow_prev.svg');
}
.btn_arrow_next{
    background-image: url('../images/main/btn_arrow_next.svg');
}
.btn_pause{
    margin-left: 18px;
    background-image: url('../images/main/btn_pause.svg');
    vertical-align: -2px;
}

.indicator_wrap .paging span + span{
    margin-left: 4px;
}
.indicator_wrap .paging span{
    color: #FFF;
    font-family: Noto Sans KR;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -2px;
}
.indicator_wrap .paging .total{
    opacity: 0.3;
}

.TopVisual .list_visual li{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.TopVisual .list_visual li img{
    position: relative;
    top: 0;
    width: calc(100% + 190px);
    max-height: calc(100vh - 70px);
    right: 190px;
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
}

.TopVisual .list_visual li.slick-active img{
    animation: toRight 5s ease-out both;

}

@keyframes toRight {
    0%{
        right: 0;
    }
    100%{
        
        right: 190px;
    }
}

@keyframes toRightRes1 {
    0%{
        right: -190px;
    }
    100%{
        
        right: 0;
    }
}
@keyframes toRightRes2 {
    0%{
        right: calc(-50% + -60%);
    }
    100%{
        /* right: calc(-50% + -70px); */
        right: calc(-50% + -20%);
    }
}
@keyframes toRightRes3 {
    0%{
        right: calc(-50% + -130%);
    }
    100%{
        /* right: calc(-50% + -290px); */
        right: calc(-50% + -90%);
    }
}
@keyframes toRightRes4 {
    0%{
        right: calc(-50% + -170%);
    }
    100%{
        right: calc(-50% + -130%);
    }
}
@keyframes toRightRes5 {
    0%{
        right: calc(-50% + -190%);
    }
    100%{
        right: calc(-50% + -150%);
    }
}
@keyframes toRightRes6 {
    0%{
        right: calc(-50% + -70%);
    }
    100%{
        right: calc(-50% + -30%);
    }
}
@keyframes toRightRes7 {
    0%{
        right: calc(-50% + -180%);
    }
    100%{
        right: calc(-50% + -130%);
    }
    
}
@keyframes toRightRes8 {
    0%{
        right: calc(-50% + -160%);
    }
    100%{
        right: calc(-50% + -120%);
    }
}
@media (max-width: 1100px) {
    .TopVisual .inner {
        padding: 0 24px;
        /* top: 30%; */
    }
    .TopVisual h1 {
        font-size: 34px;
        line-height: 44px;
    }
}

@media (max-width: 768px) {

    .TopVisual .list_visual li {
        height: calc(100vh - 50px);

    }
    .TopVisual .list_visual li img {
        position: absolute;
        width: unset;
        max-height: calc(100vh - 50px);
        right: 0;
        /* height: calc(100vh - 50px); */
    }
    .TopVisual .list_visual li:nth-child(2) img{
        /* right: calc(-50% + -70px); */
        right: calc(-50% + -20%);
    }
    .TopVisual .list_visual li:nth-child(3) img{
        /* right: calc(-50% + -290px); */
        right: calc(-50% + -90%);
    }
    .TopVisual .list_visual li:nth-child(4) img{
        right: calc(-50% + -130%);
    }
    .TopVisual .list_visual li:nth-child(5) img{
        right: calc(-50% + -150%);
    }
    .TopVisual .list_visual li:nth-child(6) img{
        right: calc(-50% + -30%);
    }
    .TopVisual .list_visual li:nth-child(7) img{
        /* right: calc(-50% + -320px); */
        right: calc(-50% + -130%);
    }
    .TopVisual .list_visual li:nth-child(8) img{
        right: calc(-50% + -120%);
    }
    .TopVisual .list_visual li:nth-child(1).slick-active img{
        animation: toRightRes1 5s ease-out both;  
    }
    .TopVisual .list_visual li:nth-child(2).slick-active img{
        animation: toRightRes2 5s ease-out both;  
    }
     .TopVisual .list_visual li:nth-child(3).slick-active img{
        animation: toRightRes3 5s ease-out both;  
    }
    .TopVisual .list_visual li:nth-child(4).slick-active img{
        animation: toRightRes4 5s ease-out both;  
    }
    .TopVisual .list_visual li:nth-child(5).slick-active img{
        animation: toRightRes5 5s ease-out both;  
    }
    .TopVisual .list_visual li:nth-child(6).slick-active img{
        animation: toRightRes6 5s ease-out both;  
    }
    .TopVisual .list_visual li:nth-child(7).slick-active img{
        animation: toRightRes7 5s ease-out both;  
    }
    .TopVisual .list_visual li:nth-child(8).slick-active img{
        animation: toRightRes8 5s ease-out both;  
    }

    .TopVisual .inner {
        padding: 0 40px;
        top: calc(100% - 290px);
        transform: translate(-50%, 0);

    }
    .TopVisual h1 {
        font-size: 20px;
        line-height: 30px;
    }
    
    .indicator_wrap{
        width: 152px;
        margin: 60px auto 0;
    
    }
    .indicator_wrap .paging span{
        font-size: 16px;
    }
}
 


/* .TopVisual .list_visual li:nth-child(1){
    background-image: url('../images/main/visual_main_01.jpg');
}
.TopVisual .list_visual li:nth-child(2){
    background-image: url('../images/main/visual_main_02.jpg');
}
.TopVisual .list_visual li:nth-child(3){
    background-image: url('../images/main/visual_main_03.jpg');
}
.TopVisual .list_visual li:nth-child(4){
    background-image: url('../images/main/visual_main_04.jpg');
}
.TopVisual .list_visual li:nth-child(5){
    background-image: url('../images/main/visual_main_05.jpg');
}
.TopVisual .list_visual li:nth-child(6){
    background-image: url('../images/main/visual_main_06.jpg');
}
.TopVisual .list_visual li:nth-child(7){
    background-image: url('../images/main/visual_main_07.jpg');
}
.TopVisual .list_visual li:nth-child(8){
    background-image: url('../images/main/visual_main_08.jpg');
} */


.CommentArea {
    padding: 150px 40px;
    word-break: keep-all;
}

.CommentArea strong,
.CommentArea p {
    display: block;
    font-size: 42px;
    line-height: 60px;
    text-align: center;
    color: #00397C;
    letter-spacing: -0.02em;
}

.CommentArea p span {
    color: var(--main-color2);
}

.CommentArea p {
    font-weight: 200;
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1.5s cubic-bezier(0, 0.21, 0.03, 1.01);
    transition-delay: 0.1s;
}

.CommentArea p.active {
    opacity: 1;
    transform: translateY(0px);
}

.CommentArea strong {
    display: inline-block;
    margin-left: 7px;
    font-weight: 700;
}

.CommentArea p:nth-of-type(1) {
    margin-bottom: 5px;
}

.CommentArea p img {
    width: 200px;
    height: auto;
    margin-bottom: -2px;
    vertical-align: baseline;
}

@media (max-width: 768px) {
    .main_area{
        margin-top: 50px;
    }
    .CommentArea {
        padding: 60px 20px;
    }

    .CommentArea .spark {
        width: 16px;
        height: 16px;
        background-size: 16px 16px;
    }

    .CommentArea strong,
    .CommentArea p {
        font-size: 21px;
        line-height: 1.5em;
    }

    .CommentArea strong {
        margin-left: 2px;
    }

    .CommentArea p {
        margin: 0;
    }

    .CommentArea p:nth-of-type(1) {
        margin-bottom: 0;
    }

    .CommentArea p span {
        display: block;
    }

    .CommentArea p img {
        width: 104px;
    }
}

.ServiceArea {
    padding: 150px 0;
    background: var(--bg-color1);
}

.ServiceArea .inner {
    padding: 0 30px;
}

.ServiceArea .inner .item {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    transform: translateY(100px);
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1.5s cubic-bezier(0, 0.21, 0.03, 1.01);
    transition-delay: 0.1s;
}

.ServiceArea .inner .item:not(:first-of-type) {
    margin-top: 100px;
}

.ServiceArea .inner .item.active {
    opacity: 1;
    transform: translateY(0px);
}

.ServiceArea .inner .item .txtBox {
    flex: calc(50% + 15px);
    padding: 60px 40px 60px 70px;
    word-break: keep-all;
}

.ServiceArea .inner .item .txtBox .name {
    font-weight: bold;
    font-size: 18px;
    color: var(--main-color);
    font-family: "Roboto", sans-serif;
}

.ServiceArea .inner .item:nth-of-type(2n) .txtBox .name {
    color: var(--sub-color1);
}

.ServiceArea .inner .item .txtBox .name span {
    color: inherit;
}

.ServiceArea .inner .item .txtBox .mainTxt {
    margin-top: 30px;
    font-weight: 200;
    font-size: 42px;
    line-height: 62px;
}

.ServiceArea .inner .item .txtBox .mainTxt strong {
    display: block;
}

.ServiceArea .inner .item .txtBox .linkBtn {
    display: block;
    width: 40px;
    height: 40px;
    margin: 30px 0;
    font-size: 0;
    line-height: 0;
    background: url('../images/main/icon_link_arrow.svg');
    background-size: 40px 40px;
    color: transparent;
}

.ServiceArea .inner .item .txtBox .subTxt {
    font-size: 24px;
    line-height: 36px;
    font-weight: 200;
    color: var(--sub-txt-color1);
}

.ServiceArea .inner .item .imgBox {
    overflow: hidden;
    position: relative;
    flex: calc(50% - 15px);
}

.ServiceArea .inner .item .imgBox .inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.3s;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ServiceArea .inner .item .imgBox .inner:hover {
    transform: scale(1.1);
}

.ServiceArea .inner .item .imgBox .inner.img01 {
    background-image: url('../images/main/img_intro01_pc.jpg');
}

.ServiceArea .inner .item .imgBox .inner.img02 {
    background-image: url('../images/main/img_intro02_pc.jpg');
}

.ServiceArea .inner .item .imgBox .inner.img03 {
    background-image: url('../images/main/img_intro03_pc.jpg');
}

@media (max-width: 768px) {
    .ServiceArea {
        padding: 60px 0;
    }

    .ServiceArea .inner {
        padding: 0 20px;
    }

    .ServiceArea .inner .item {
        display: block;
    }

    .ServiceArea .inner .item:not(:first-of-type) {
        margin-top: 50px;
    }

    .ServiceArea .inner .item .txtBox {
        padding: 30px 20px;
    }

    .ServiceArea .inner .item .txtBox .name {
        font-size: 16px;
    }

    .ServiceArea .inner .item .txtBox .mainTxt {
        margin-top: 16px;
        font-weight: 200;
        font-size: 21px;
        line-height: 1.5em;
    }

    .ServiceArea .inner .item .txtBox .linkBtn {
        display: block;
        width: 30px;
        height: 30px;
        margin: 15px 0;
        background-size: 30px 30px;
    }

    .ServiceArea .inner .item .txtBox .subTxt {
        font-size: 12px;
        line-height: 22px;
    }

    .ServiceArea .inner .item .imgBox {
        height: 52.5%;
        min-height: 280px;
        border-radius: 0;
    }

    .ServiceArea .inner .item .imgBox .inner.img01 {
        background-image: url('../images/main/img_intro01_m.jpg');
    }

    .ServiceArea .inner .item .imgBox .inner.img02 {
        background-image: url('../images/main/img_intro02_m.jpg');
    }

    .ServiceArea .inner .item .imgBox .inner.img03 {
        background-image: url('../images/main/img_intro03_m.jpg');
    }
}

.partner {
    padding: 150px 0 108px;
}

.partner .txt_title {
    margin-bottom: 54px;
    color: #353A45;
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    line-height: 62px;
}

@media (max-width: 768px) {
    .partner {
        padding: 60px 0 90px;
    }

    .partner .txt_title {
        margin-bottom: 60px;
        font-size: 21px;
        line-height: 1.5em;
    }
}

.marquee-wrapper {
    display: inline-block;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    transform: translate3d(0%, 0, 0);
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 40s;
}

.marquee-content li {
    display: inline-block;
    white-space: nowrap;
    padding-right: 80px;
}

.marquee-content li img {
    width: auto;
    max-width: none;
    height: 60px;
}

.marquee-wrapper:hover .marquee {
    animation-play-state: paused !important;
}

@keyframes marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}
@media (max-width: 768px) {
    .marquee-content li {
        padding-right: 30px;
    }
    
    .marquee-content li img {
        height: 36px;
    }

}